<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EAA 690 Summer Camp 2022 - M.A.R.S Rover</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script>
        function takePictureCmd() {
            var str="rover.takePicture()";
            document.getElementById("command").value=str;
        }
        function moveForwardHalfFor2() {
            var str="rover.forward(50, 2)";
            document.getElementById("command").value=str;
        }
        function moveReverseHalfFor2() {
            var str="rover.reverse(50, 2)";
            document.getElementById("command").value=str;
        }
        function rainbow() {
            var str="rover.rainbow()\nrover.show()";
            document.getElementById("command").value=str;
        }
    </script>
  </head>
  <body>
    <main role="main" class="container">
      <div class="starter-template">
        <h1><span th:text="${rover.name}"></span> - New Command(s)</h1>
        <table>
            <tr>
                <td>
                    <form th:action="@{/rover}" th:object="${rover}" method="post">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{name}" />
                        <input type="hidden" th:field="*{passcode}" />
                        <pre>
import rover

try:
  rover.init(0)
            </pre>
                        <textarea rows="20" cols="80" th:field="*{command}" id="command"></textarea>
                        <pre>
except Exception as e:
  print (e)
            </pre>
                        <input type="submit" value="Send to Rover" />
                        <p><a th:href="@{${'/rover/' + rover.id}}"
                              target="_blank" rel="noopener noreferrer">Script output</a></p>
                    </form>
                </td>
                <td valign="top">
                    <table border="1">
                        <tr><td colspan="2">Simple Commands</td></tr>
                        <tr>
                            <th>Description</th>
                            <th>Replace Command Text</th>
                        </tr>
                        <tr>
                            <td>Takes a picture, and uploads it to "JPL"</td>
                            <td align="center"><button onclick="takePictureCmd()">Set command</button></td>
                        </tr>
                        <tr>
                            <td>Moves forward at 1/2 speed for 2 seconds</td>
                            <td align="center"><button onclick="moveForwardHalfFor2()">Set command</button></td>
                        </tr>
                        <tr>
                            <td>Moves backward at 1/2 speed for 2 seconds</td>
                            <td align="center"><button onclick="moveReverseHalfFor2()">Set command</button></td>
                        </tr>
                        <tr>
                            <td>Show rainbow of colors</td>
                            <td align="center"><button onclick="rainbow()">Set command</button></td>
                        </tr>
                        <tr><td colspan="2">Intermediate Commands</td></tr>
                        <tr><td colspan="2">Advanced Commands</td></tr>
                    </table>
                </td>
            </tr>
        </table>
      </div>
    </main>
    <!-- /.container -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
  </body>
</html>
