<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EAA 690 Summer Camp 2022 - M.A.R.S Rover</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
  </head>
  <body>
    <main role="main" class="container">
      <div class="starter-template">
        <h1>EAA 690 Summer Camp 2022 - M.A.R.S Rover (<span th:text="${rover.name}"></span>)</h1>
        <form th:action="@{/rover}" th:object="${rover}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{name}" />
            <input type="hidden" th:field="*{passcode}" />
            <pre>
import rover

try:
  rover.init(0)
            </pre>
            <textarea rows="20" cols="80" th:field="*{command}"></textarea>
            <pre>
except Exception as e:
  print (e)
            </pre>
            <input type="submit" value="Submit" />
        </form>
      </div>
    </main>
    <!-- /.container -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
  </body>
</html>
