<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EAA 690 Summer Camp 2022 - M.A.R.S Rover</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
  </head>
  <body>
    <main role="main" class="container">
      <div class="starter-template">
        <form th:action="@{/rover/authenticate}" th:object="${rover}" method="post">
            <p>Team passcode: </p>
            <input type="text" th:field="*{passcode}" />
            <input type="submit" value="Submit" />
        </form>
        <h1>EAA 690 Summer Camp 2022 - M.A.R.S Rover</h1>
        <table>
          <tr>
            <th><font color="blue">Blue Rover</font></th>
            <th><font color="red">Red Rover</font></th>
            <th><font color="black">White Rover</font></th>
            <th><font color="purple">Purple Rover</font></th>
            <th><font color="green">Green Rover</font></th>
            <th><font color="orange">Orange Rover</font></th>
            <th><font color="black">Black Rover</font></th>
          </tr>
          <tr>
            <td>
              <a href="/pictures/1/latest" target="_blank" rel="noopener noreferrer">
                <img width="246" height="328" th:src="@{${'/pictures/1/latest'}}"/>
              </a>
            </td>
            <td>
              <a href="/pictures/2/latest" target="_blank" rel="noopener noreferrer">
                <img width="246" height="328" th:src="@{${'/pictures/2/latest'}}"/>
              </a>
            </td>
            <td>
              <a href="/pictures/3/latest" target="_blank" rel="noopener noreferrer">
                <img width="246" height="328" th:src="@{${'/pictures/3/latest'}}"/>
              </a>
            </td>
            <td>
              <a href="/pictures/4/latest" target="_blank" rel="noopener noreferrer">
                <img width="246" height="328" th:src="@{${'/pictures/4/latest'}}"/>
              </a>
            </td>
            <td>
              <a href="/pictures/5/latest" target="_blank" rel="noopener noreferrer">
                <img width="246" height="328" th:src="@{${'/pictures/5/latest'}}"/>
              </a>
            </td>
            <td>
              <a href="/pictures/6/latest" target="_blank" rel="noopener noreferrer">
                <img width="246" height="328" th:src="@{${'/pictures/6/latest'}}"/>
              </a>
            </td>
            <td>
              <a href="/pictures/7/latest" target="_blank" rel="noopener noreferrer">
                <img width="246" height="328" th:src="@{${'/pictures/7/latest'}}"/>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </main>
    <!-- /.container -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
  </body>
</html>
