<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EAA 690 Summer Camp 2022 - M.A.R.S Rover</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
  </head>
  <body>
    <main role="main" class="container">
      <div class="starter-template">
        <h1>EAA 690 Summer Camp 2022 - M.A.R.S Rover</h1>
        <form th:action="@{/rover/authenticate}" th:object="${rover}" method="post">
            <p>Team passcode: </p>
            <input type="text" th:field="*{passcode}" />
            <input type="submit" value="Submit" />
        </form>
        <table>
          <tr th:each="r : ${rovers}" th:if="${r.active}">
            <td><img width="1024" height="768" th:src="@{${'https://rover.eaa690.org/pictures/' + r.getId() + '/latest'}}"/></td>
          </tr>
        </table>
      </div>
    </main>
    <!-- /.container -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
  </body>
</html>
